.container_left{
    position: fixed;
    display: block;
    height: 100%;
    min-width: 10%;
    background-color: rgba(77,77,77,0.5);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 1%;
}

.left_header{
    text-align: center;
    font-size: 40px;
}

.main_ClassList{
    overflow-y: auto;
    height: 400px;
    width: 250px;
    margin-left: 5px;
}

.klassen_label{
    background-color: #7D7C7C;
    background-color: rgba(255,255,255,0.4);
    width: 220px;
    height: 32px;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.klassen_label:hover{
     background-color: rgba(255,255,255,0.4);
     background-image: url(/img/klassen_label_background.png);
     color: white;
     border-color: black;
}

.klassen_label::after{
    clear:both;
}

.klasse_mini_img{
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 0px;
}

.klasse_name_label{
    float: left;
    margin: 4px;
    font-size: 18px;
}

.klassen_dropdown{
    background-color: rgba(255,255,255,0.4);;
    width: 220px;
    min-height: 0px;
    border-radius: 0px 0px 5px 10px;
    border-style: solid;
    border-width: 3px;
    display: none;
    /*padding-bottom: 15px;*/

}

.build_name_label{
    border-style: solid;
    border-width: 1px;
    height: 18px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: margin 1s;
}

.build_name_label:hover{
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-color: black;
    margin-left: 20px;
}

.buildtyp_img_mini{
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 10%;

}

.container_middle{
    float: left;
    position: auto;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    align-self: flex-start;
}

#build_name{
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.backround_img{
    background-repeat: no-repeat;
    background-size: cover;
}

.test{
    line-height: 1.15;
}


.left{
  float: left;
}

.container_bottom{
  position: relative;
  float: none;
  align-self: flex-end;
  background-color: rgba(21,23,24,.7);
}

body {
    font-family: inherit;
    background-color: white;
    background-image: url('img/pattern1.jpg');
    background-repeat: no-repeat;

    background-size: cover;

    background-attachment: fixed;
    display: flex;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin-left: 1%;
    margin-right: 1%;

    font-size: 14px;
}
